.container{
  align-items: center;
  justify-content: center;
  text-decoration: none;

  display: grid;
}

.buttonsContainer{
  width:450px;
  height:140px;

  align-items: center;
  justify-content: center;
  text-decoration: none;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
      "limpar divide multiplica voltar"
      "num7 num8 num9 virgula"
      "num4 num5 num6 subtrai"
      "num1 num2 num3 soma"
      "num0 abrePar fechaPar igual"
  ;
}

button{  
  font:normal 40px Verdana, Geneva, sans-serif;    
  font-style:normal;
  border:1px solid #bbb;
  border-radius:100px;
  width:100px;
  height:100px;
  max-width: 100px;
  max-height: 100px;
  padding:0;
  cursor:pointer;
  margin:0;
  transition: background-color 0.8s;
  outline: 0;
}

input {  
  font-style:normal;
  width:500px;
  height:100px;
  max-width: 500px;
  font: 50px Verdana, Geneva, sans-serif;
  border: 0 none;
  outline: 0;
}

input .inputError {
  color: #c41212;
}

#input{
  grid-area: input;
  /*border: 0;*/
}

#num1{
  grid-area: num1;
}

#num2{
  grid-area: num2;
}

#num3{
  grid-area: num3;
}

#num4{
  grid-area: num4;
}

#num5{
  grid-area: num5;
}

#num6{
  grid-area: num6;
}

#num7{
  grid-area: num7;
}

#num8{
  grid-area: num8;
}

#num9{
  grid-area: num9;
}

#num0{
  grid-area: num0;
}

#divide{
  grid-area: divide;
}

#multiplica{
  grid-area: multiplica;
}

#voltar{
  grid-area: voltar;
}

#percent{
  grid-area: percent;
}

#subtrai{
  grid-area: subtrai;
}

#soma{
  grid-area: soma;
}

#igual{
  grid-area: igual;
}

#limpar{
  grid-area: limpar;
}

#abrePar{
  grid-area: abrePar;
}

#fechaPar{
  grid-area: fechaPar;
}

button.numero {
  text-justify: auto;
  text-align: center;
  color:#3b3737;
}

button.numero:hover {
  background:#746868e1;
}

button.operador:hover {
  background:#746868e1;
}

button.limpar {
  background:#ff8000;
  color:#FFFFFF;
}

button.limpar:hover {
  background:#e4ac73;
}

button.voltar {
  background:#da1a63;
  color:#FFFFFF;
}

button.voltar:hover {
  background:#d67a9e;
  color:#FFFFFF;
}

button.igual {
  background:#3b3333;
  color:#FFFFFF;
}

button.igual:hover {
  background:#807b7b;
  color:#FFFFFF;
}

button:active {
  cursor:pointer;
  position:relative;
  top:2px;
}
